*{
    padding: 0;
    margin: 0;
    border: none;
}
.graph_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    box-shadow: 0 0 5px 1px white;
    height: 250px;
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}