*{
    padding: 0;
    margin: 0;
    border: none;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    border: 3px solid black;
    height: 300px;
    width: 500px;
    
}