*{
    margin: 0;
    padding: 0;
    border: none;
}
.imagefit {
    height: auto;
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    width: auto;
}
.invite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    
}
.AddBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    width: 432px;
    margin: 48px 0 0 0;
    border: none;
    font-size: 48px;
    color:white;
    border-radius: 25px;
    background-color: #7289DA;
    box-shadow: inset 0 0 50px #FF00F5;
}
.AddBtn:hover {
    background-color: #7289DA;
}

#bottomcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.function_text {
    line-height: 60px;
    color: #D8E9A8;
    height: auto;
    width: 100%;
    font-size: 30px;
}

li {
    list-style-image: url(Selected_icon.svg);
    list-style-type: square;
}