*{
    margin: 0;
    padding: 0;
    border: none;
}
.imagefit {
    height: auto;
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    width: auto;
}
.invite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    
}
.AddBtn {
    height: 104px;
    width: 432px;
    margin-top: 48px;
    border: none;
    font-size: 48px;
    color:white;
    border-radius: 25px;
    background-color: #7289DA;
    box-shadow: inset 0 0 50px #FF00F5;
}
#bottomcon {
    margin-bottom: 150px;
}