* {
    margin: 0;
    padding: 0;
    border: none;
}

.image_fit {
    height: auto;
    width: 100%;
}

.about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.content_container {
    height: auto;
}
.about_word{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    width: 100%;
    height: 350px;
    position: absolute;
    color: #D8E9A8;
}