@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}


.container {
    background-color: #191A19;
}

.nav_container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: #262626;
    width: 400px;
    height: 100vh;
}

.main_logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 116px;
    width: 400px;
    background-color: #262626;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 400px;
    height: 116px;
}

.logo_container a{
    margin: 0;
}

.user_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 32px;
}

.user {
    width: 320px;
    height: 76px;
    background-color: #233125;
    border: none;
    border-radius: 5px;
}

.logo_container h1 {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 600;
    font-size: 27px;
}

.logo_fit {
    width: 70px;
    height: 76.36px;
}
.main_con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}


#first {
    margin-top: 72px;
}

nav {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 400px;
    height: 800px;
}

nav button {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 400px;
    height: 50px;
    font-size: 24px;
    background: none;
    font-family: 'Tomorrow', sans-serif;
    border: none;
    border-radius: 6px;
    transition: .2s;
}

nav button:is(:hover, :active) {
    background-color: #333333;
    padding: 0px;
    transition: .2s;
}

nav button:is(:hover, :active) .selected{
    opacity: 1;
    margin-right: 25px;
    transition: .2s;
}

.selected {
    opacity: 0;
    margin-left: 10px;
    transition: .3s;
}