@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
    border:none;
}

.logo_image_fit {
    width: 55px;
    height: 60px;
}
.logo_middle_fit {
    width: 321px;
    height: 350px;
}

*,
html * /* override x.xhtml.ru style */ 
{
  scrollbar-width: thin;
  scrollbar-color: #D8E9A8;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #232323;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #D8E9A8;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb:hover {
  background-color: #A5B084;
}