* {
    margin: 0;
    padding: 0;
    border: none;
}

.image_fit {
    height: 100%;
    width: 100%;
}

.servers_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.content_container {
    height: 100vh;
}
.servers_word {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 350px;
    width: 100%;
    color: #D8E9A8;
    font-size: 72px;
}